@use "sass:list";

$cell-size: 100px;
$border-width: 1px;
$gap: 1px;
$padding: 10px;
$days-in-week: 7;
$calendar-width: $days-in-week * $cell-size + ($days-in-week - 1) * $gap + 2 * $padding;
$start-days: mon, tue, wed, thu, fri, sat, sun;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  box-sizing: border-box;
  width: $calendar-width;
  padding: $padding;

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cell-size;
    height: $cell-size;
    box-sizing: border-box;
    border: $border-width solid #000;
    background-color: #eee;
    font-family: Arial, sans-serif;
    font-size: 30px;
    cursor: pointer;
    transition:
      transform 0.5s,
      background-color 0.5s;

    @for $day from 1 through 31 {
      &:nth-child(#{$day})::before {
        content: "#{$day}";
      }
    }

    &:hover {
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }
  }

  @each $start-day in $start-days {
    &--start-day-#{$start-day} {
      .calendar__day:first-child {
        margin-left: ($cell-size + $gap) * (list.index($start-days, $start-day) - 1);
      }
    }
  }

  @for $month-length from 28 through 31 {
    &--month-length-#{$month-length} {
      .calendar__day:nth-child(n + #{$month-length + 1}) {
        display: none;
      }
    }
  }
}